<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/public/stylesheets/style.css'/>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="/public/javascripts/index.js"></script>
</head>
<body>

<!-- Landing elements -->
<div class="landing">
  <div class="logo-push"></div>
  <div class="logo-wrap">
    <div class="mlh-logo"></div>
    <div class="logo-text">ACKS</div>
  </div>
  <div class="landing-info">September 21-23, 2018 | New York University</div>
  <div class="landing-button">See you soon!</div>
  <div class="trust-badge"></div>
</div>
<!-- End landing elements -->

<!-- About elements -->
<div class="about">
  <div class="about-title">About the organizers</div>
  <div class="about-content">
    <div class="about-images">
      <div class="about-image-1"></div>
      <div class="about-image-2"></div>
      <div class="about-image-3"></div>
      <div class="about-image-4"></div>
    </div>

    <div class="about-info">
      MLHacks is organized by Upsilon Pi Episilon, the largest student organization for technology at New York
      University, with support from companies, academic programs, and student organizations.Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Ut placerat tellus nisl, eget auctor arcu elementum sit amet. Nam porttitor
      pharetra nisl, ut pharetra lacus volutpat id. Aenean vestibulum semper venenatis. Mauris eleifend sapien non
      dolor elementum auctor. Nulla interdum erat sed volutpat facilisis. Proin et nulla ligula. Donec efficitur
      facilisis varius. Fusce eleifend blandit eros at venenatis. Duis nec massa nibh. Fusce non euismod nulla.
      Aliquam condimentum eget felis ac molestie. Aliquam malesuada, ex at tristique eleifend, justo dolor elementum
      tellus, fermentum iaculis elit magna quis elit.Aenean posuere pulvinar arcu ac porttitor. Proin ut justo erat.
      Sed mollis rhoncus felis. Quisque et ex cursus, volutpat nunc vitae, venenatis lorem. Praesent sollicitudin elit
      id turpis mollis hendrerit. Curabitur quis mi dignissim, euismod lacus sit amet, auctor quam. Donec suscipit ex
      nunc, eleifend aliquam dui maximus nec. Donec sit amet ligula accumsan, hendrerit sapien sit amet, finibus
      lacus. Aenean posuere pulvinar arcu ac porttitor. Proin ut justo erat. Sed mollis rhoncus felis.
    </div>
  </div>
</div>
<!-- End about elements -->

<!-- Schedule elements -->
<div class="schedule">
  <div class="schedule-title">Schedule</div>
  <div class="schedule-content">
    <div class="schedule-wrap">
      <div class="schedule-day">Friday, September 21</div>
      <div class="schedule-info">
        <table>
          <tr>
            <td class="schedule-entry-time">5 PM</td>
            <td class="schedule-entry-info">Buses arrive</td>
          </tr>
          <tr>
            <td class="schedule-entry-time"></td>
            <td class="schedule-entry-info">Check-in</td>
          </tr>
          <tr>
            <td class="schedule-entry-time">6 PM</td>
            <td class="schedule-entry-info">Walk and check-in</td>
          </tr>
          <tr>
            <td class="schedule-entry-time">7 PM</td>
            <td class="schedule-entry-info">Opening ceremony</td>
          </tr>
          <tr>
            <td class="schedule-entry-time">9 PM</td>
            <td class="schedule-entry-info">Sponsor fair</td>
          </tr>
          <tr>
            <td class="schedule-entry-time"></td>
            <td class="schedule-entry-info">Dinner</td>
          </tr>
          <tr>
            <td class="schedule-entry-time">10 PM</td>
            <td class="schedule-entry-info">Hacking begins</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="schedule-wrap">
      <div class="schedule-day">Saturday, September 22</div>
      <div class="schedule-info">
        <table>
          <tr>
            <td class="schedule-entry-time">Ongoing</td>
            <td class="schedule-entry-info">Workshops</td>
          </tr>
          <tr>
            <td class="schedule-entry-time"></td>
            <td class="schedule-entry-info">Activities</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="schedule-wrap">
      <div class="schedule-day">Sunday, September 23</div>
      <div class="schedule-info">
        <table>
          <tr>
            <td class="schedule-entry-time">1 PM</td>
            <td class="schedule-entry-info">Closing ceremony</td>
          </tr>
          <tr>
            <td class="schedule-entry-time">3 PM</td>
            <td class="schedule-entry-info">Buses depart</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End schedule elements -->

<!-- Chat elements !-->
<div id="chat-placeholder">
  Have a question?
</div>
<div id="chat">
  <div class="logo-push-chat"></div>
  <div class="logo-wrap">
    <div class="mlh-logo"></div>
    <div class="logo-text">ACKS</div>
  </div>
  <div id="chat-area"></div>
  <input id="query-field" placeholder="Type your question here" type="text" name="query"/>
  <input id="submit-field" type="submit" value="Submit"/>
</div>
<!-- End chat elements !-->
</body>
</html>